<section class="form-section">
  <h2 class="call-to-action">Реєструйся просто зараз</h2>
  <div class="countdown-timer" id="countdown-timer">
    <div class="timer">
      <span class="timer-num" id=" days">00</span>
      <span class="timer-text">днів</span>
    </div>
    <span class="separator">:</span>
    <div class="timer">
      <span class="timer-num" id=" hours">00</span>
      <span class="timer-text">годин</span>
    </div>
    <span class="separator">:</span>
    <div class="timer">
      <span class="timer-num" id=" minutes">00</span>
      <span class="timer-text">хвилин</span>
    </div>
    <span class="separator">:</span>
    <div class="timer"><span class="timer-num seconds" id="seconds">00</span>
      <span class="timer-text">секунд</span>
    </div>
  </div>
  <form id="registration-form" class="registration-form">
    <label for="name">Ім’я</label>
    <input type="text" id="name" name="name" placeholder="Введи своє ім’я" required>

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Введи свій E-mail" required>

    <label for="phone">Номер телефону</label>
    <input type="tel" id="phone" name="phone" placeholder="+380 95 -- -- ----" required>

    <div class="checkbox-container">
      <input type="checkbox" id="agreement" name="agreement" required>
      <label for="agreement">Згоден з <a href="#">Політика конфеденційності</a> та <a href="#">Умови користування
          послугами</a></label>
    </div>

    <button type="submit">Зареєструватися</button>
  </form>

  <button id="open-modal" class="register-btn-mobile">Зареєструватися</button>
  <!-- </div> -->
</section>y