<div class="container-hero">
  <section class="hero-section">
    <img class="pic" src="img/logo.png" alt="GoIT logo" width="100" height="30" />
    <div class="webinar-info">
      <p class="webinar-time">Безоплатний вебінар</p>
      <p class="webinar-time">
        Старт:
        <span class="bold-time">10 січня 19:30</span>
      </p>
    </div>
    <div class="hero-text">
      <h1 class="hero-title">
        Навчіться створювати Excel-таблиці на pro-рівні
      </h1>
      <p class="text-description">
        Опануйте функціонал Microsoft Excel, автоматизуйте свою роботу <br class="gap" />
        та створюйте таблиці швидко <br />
        і в задоволення
      </p>
    </div>
  </section>

  <section class="form-section">
    <h2 class="call-to-action">Реєструйся просто зараз</h2>

    <div class="countdown-timer" id="countdown-timer">
      <div class="timer">
        <span class="timer-num" id="days">00</span>
        <span class="timer-text">днів</span>
      </div>
      <span class="separator">:</span>
      <div class="timer">
        <span class="timer-num" id="hours">00</span>
        <span class="timer-text">годин</span>
      </div>
      <span class="separator">:</span>
      <div class="timer">
        <span class="timer-num" id="minutes">00</span>
        <span class="timer-text">хвилин</span>
      </div>
      <span class="separator">:</span>
      <div class="timer">
        <span class="timer-num seconds" id="seconds">00</span>
        <span class="timer-text">секунд</span>
      </div>
    </div>

    <form id="registration-form" class="registration-form form-hero">
      <input class="input-name" type="text" id="name" name="name" placeholder="Введи своє ім’я" required />

      <input class="input-name" type="email" id="email" name="email" placeholder="Введи свій E-mail" required />
      <div class="phone-input"> <img src="./img/flag.png" alt="flag of Ukrane">
        <input class="input-name" type="tel" id="phone" name="phone" placeholder="+380 95 -- -- ----" required />
      </div>

      <div class="checkbox-container">
        <input type="checkbox" id="agreement" name="agreement" required />
        <label for="agreement">
          Згоден з
          <a href="#">Політика конфеденційності</a> та
          <a href="#">Умови користування послугами</a>
        </label>
      </div>
      <button type="submit" class="register-btn register-btn-submit">Зареєструватися</button>
    </form>
    <button id="open-modal" class="register-btn register-btn-open">Зареєструватися</button>
</div>