<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <img class="picmod" src="img/logo.png" alt="GoIT logo" width="100" height="30" />
      <img class="close" id="close-modal" src="../img/Icon.png">
    </div>
    <h2 class="call-to-action">Реєструйся просто зараз</h2>
    <div class="countdown-timer" id="countdown-timer">
      <div class="timer">
        <span class="timer-num" id="days">00</span>
        <span class="timer-text">днів</span>
      </div>
      <span class="separator">:</span>
      <div class="timer">
        <span class="timer-num" id="hours">00</span>
        <span class="timer-text">годин</span>
      </div>
      <span class="separator">:</span>
      <div class="timer">
        <span class="timer-num" id="minutes">00</span>
        <span class="timer-text">хвилин</span>
      </div>
      <span class="separator">:</span>
      <div class="timer">
        <span class="timer-num seconds" id="seconds">00</span>
        <span class="timer-text">секунд</span>
      </div>
    </div>

    <form id="modal-registration-form" class="registration-form">
      <input class="input-name" type="text" id="modal-name" name="name" placeholder="Введи своє ім’я" required />

      <input class="input-name" type="email" id="modal-email" name="email" placeholder="Введи свій E-mail" required />

      <input class="input-name" type="tel" id="modal-phone" name="phone" placeholder="+380 95 -- -- ----" required />

      <div class="checkbox-container">
        <input type="checkbox" id="modal-agreement" name="agreement" required />
        <label for="modal-agreement">
          Згоден з <a href="#">Політика конфеденційності</a> та
          <a href="#">Умови користування послугами</a>
        </label>
      </div>

      <button type="submit" class="register-btn register-btn-modal">Зареєструватися</button>
    </form>
  </div>