<div class="countdown-timer" data-timer>
  <div class="timer">
    <span class="timer-num" data-days>00</span>
    <span class="timer-text">днів</span>
  </div>
  <span class="separator">:</span>
  <div class="timer">
    <span class="timer-num" data-hours>00</span>
    <span class="timer-text">годин</span>
  </div>
  <span class="separator">:</span>
  <div class="timer">
    <span class="timer-num" data-minutes>00</span>
    <span class="timer-text">хвилин</span>
  </div>
  <span class="separator">:</span>
  <div class="timer">
    <span class="timer-num seconds" data-seconds>00</span>
    <span class="timer-text">секунд</span>
  </div>
</div>