/* Base Styles */
body {
  background: url('../img/bgMobile.png') no-repeat;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: #010101;
  padding: 20px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
}
