.form-section {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 20px;
  width: 280px;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
  background-color: #fff;
}
.phone-input {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f4fa;
  padding-left: 16px;
  gap: 8px;
}
.phone-input input {
  padding: 12px 0;
}

.call-to-action {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.4;
  text-align: center;
  color: #010101;
}
.registration-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.form-hero {
  display: none;
}

.input-name {
  padding: 12px 16px;
  background: #f2f4fa;
  width: 288px;
  border: none;
}

.input-name:focus {
  border-color: #0f7c41;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #010101;
}

.checkbox-container input {
  width: 16px;
  height: 16px;
  accent-color: #0f7c41;
}

.checkbox-container a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.register-btn {
  border: none;
  width: 236px;
  height: 56px;
  background-color: #0f7c41;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}

.register-btn-modal {
  width: 320px;
  margin-top: 12px;
}
.register-btn-submit {
  display: none;
}

button:hover {
  background: #1b5e20;
}
@media (min-width: 768px) {
  .form-hero {
    display: flex;
  }
  .register-btn-open {
    display: none;
  }
  .register-btn-submit {
    display: block;
  }

  .form-section {
    margin-top: 110px;
    gap: 24px;
    padding: 52px;
    width: 466px;
    height: 580px;
    display: flex;
  }
  .call-to-action {
    font-size: 28px;
  }
  .registration-form {
    justify-content: center;
    align-items: center;
  }
  .input-name {
    width: 328px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #767b8e;
  }
  .checkbox-container {
    padding-right: 80px;
  }
  .register-btn {
    border: none;
    width: 358px;
  }
}
