.hero-section {
  background-size: cover;
  margin-bottom: 24px;
}

.pic {
  margin-bottom: 16px;
}
.webinar-info {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.08em;
  text-align: center;
  color: #0f7c41;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.webinar-free {
  border: 0.4px solid #0f7c41;
  padding: 4px 8px;
}
.webinar-time {
  border: 0.4px solid #0f7c41;
  padding: 4px 8px;
}
.bold-time {
  font-weight: 700;
}
.hero-title {
  padding-right: 60px;
}
.hero-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  height: 272px;
}
.text-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #010101;
}
@media (min-width: 768px) {
  .pic {
    margin-bottom: 88px;
  }
  .webinar-info {
    flex-direction: row;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
    justify-content: flex-start;
  }
  .webinar-time {
    padding: 8px 16px;
  }
  .hero-title {
    font-size: 56px;
    line-height: 1.21429;
    padding-right: 0px;
  }
  .hero-text {
    gap: 40px;
    width: 624px;
  }
  .text-description {
    font-size: 20px;
    line-height: 1.4;
    padding-right: 90px;
  }
  .text-description .gap {
    display: none;
  }
}
