.modal {
  width: 360px;
  height: 680px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(100px);
  background-color: #fff;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px;
}

.modal-content {
  padding: 32px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 768px) {
  .register-btn-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  #registration-form {
    display: none;
  }
}
