.modal {
  width: 360px;
  height: 680px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(100px);
  background-color: #fff;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 58px;
}

.modal-content {
  padding: 32px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close {
  font-weight: bold;
  cursor: pointer;
}

.registration-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.registration-form input {
  padding: 12px 16px;
  background: #f2f4fa;
  width: 288px;
  border: none;
}

.registration-form input:focus {
  border-color: #0f7c41;
}

.checkbox-container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #010101;
}

.checkbox-container input {
  width: 16px;
  height: 16px;
  accent-color: #0f7c41;
}

.checkbox-container a {
  color: #007bff;
  text-decoration: none;
}

.checkbox-container a:hover {
  text-decoration: underline;
}

.register-btn {
  border: none;
  width: 236px;
  height: 56px;
  background-color: #0f7c41;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
}
.register-btn-modal {
  width: 320px;
  margin-top: 12px;
}

button:hover {
  background: #1b5e20;
}

@media (min-width: 768px) {
  .register-btn-mobile {
    display: none;
  }
}

@media (max-width: 767px) {
  #registration-form {
    display: none;
  }
}
