.countdown-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.timer-text {
  font-weight: 600;
  font-size: 8px;
  color: #010101;
}
.separator {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14286;
  text-align: right;
  color: rgba(1, 1, 1, 0.2);
}
.timer-num {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.14286;
  color: #010101;
}
.seconds {
  color: #0f7c41;
}

.timer {
  display: grid;
  justify-items: center;
}
